/* table of content */
/* 1.Section Settings */
/* 2.Section Carousel */
/* 3.Section Blog */
/* 4.Section footer */
/* color */
/* 1c110a-2b2b2b-fffffc-12355b-d72638 */




/* Section of Settings */
html,body{
    height: 100%;
}

.bg-alpha{
    background: rgba(0, 0, 0, 0.5);
}
.border-short-bottom{
    position: relative;
    padding: 20px 0;
    margin-bottom: 25px;
}
.border-short-bottom::after{
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    background: #595959;

}

/* Section Carousel */
.carousel ,
.carousel-inner ,
.carousel-item, 
.carousel-inner .active{
    height: 100%;
} 

.carousel-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.carousel-caption{
    top: 40%;
}
.blackscreen{
background: rgba(0, 0,0,0.5);
height: 100%;
}


/* Section Blog */
.warpper-card-img{
    position: relative;
    overflow: hidden;
}

.warpper-card-img::after{
    content: '';
    padding-top: 56.25%;
    display: block;
    height: 0;
}
.warpper-card-img img {
    position: absolute;
    top: 0;
    transition: 2s;
}
.warpper-card-img img:hover{
    transform: scale(1.2);
}

/* Section footer */

.semi-footer{
    background: #595959;
    color: #000000;
}
.semi-footer a{ 
    color: #fff;
}

.semi-footer h4{
    color: aquamarine;
    border-bottom: 1px solid;
    padding: 20px 0;
}
.footer{
    background: #000;
    color: #fff;
    font-size: 0.7rem;
    height: 90px;
    line-height: 90px;
    text-align: center;
}

/* Section Progress bar */
.progress-container {
    width: 100%;
    height: 5px;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .progress-bar {
    height: 5px;
    background: #5f4ad3;
    width: 0%;
  }