/* table of content
/* 1.Section Settings
/* 2.Section Carousel 
/* 3.Section Blog
/* 4.Section footer
  5.Section Progress bar
  6.Section Page-title 
  7.Section timeline
  8.Section Star 


/* color 

/* 1c110a-2b2b2b-fffffc-12355b-d72638 */

/* Color Theme Swatches in Hex 
.Glowing-All-1-hex { color: #0A1747; }
.Glowing-All-2-hex { color: #0029FA; }
.Glowing-All-3-hex { color: #8D07F6; }
.Glowing-All-4-hex { color: #FFFF05; }
.Glowing-All-5-hex { color: #D4DBF5; }

Color Theme Swatches in RGBA
.Glowing-All-1-rgba { color: rgba(10, 23, 71, 1); }
.Glowing-All-2-rgba { color: rgba(0, 41, 250, 1); }
.Glowing-All-3-rgba { color: rgba(141, 7, 246, 1); }
.Glowing-All-4-rgba { color: rgba(255, 255, 5, 1); }
.Glowing-All-5-rgba { color: rgba(212, 219, 245, 1); } */

/* Section of Settings */
html,
body {
  height: 100%;
  font-family: "Chonburi", cursive, 'Sarabun', sans-serif;
}


/* ? opacity (0,0,0,0.5) */
.bg-alpha {
  background: rgba(0, 0, 0, 0.5);
}
.border-short-bottom {
  position: relative;
  padding: 20px 0;
  margin-bottom: 25px;
}
.border-short-bottom::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 2px;
  bottom: 0;
  left: 50%;
  margin-left: -50px;
  background: #595959;
}

/* Section Carousel */
.carousel,
.carousel-inner,
.carousel-item,
.carousel-inner .active {
  height: 100%;
}

.carousel-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.carousel-caption {
  top: 40%;
}
.blackscreen {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
}

/* Section Blog */
.warpper-card-img {
  position: relative;
  overflow: hidden;
}

.warpper-card-img::after {
  content: "";
  padding-top: 56.25%;
  display: block;
  height: 0;
}
.warpper-card-img img {
  position: absolute;
  top: 0;
  transition: 2s;
}
.warpper-card-img img:hover {
  transform: scale(1.2);
}

.btn-group-custom button {
  margin-bottom: 1rem;
  width: 200px;
}

/* ! rgba (0 0 0 0.5) opacity  */
.blog-image {
  padding: 200px 0px 120px;
  text-align: center;
  color: antiquewhite;
  background: rgba(0, 0, 0, 0.5);
}

.blog-contend {
  padding: 50px 100px;
  box-shadow: 0px 0px 10px #a5a5aa;
}

@media (max-width: 991px) {
  .blog-contend{
    padding: 30px 50px;
  }
}
/* เมื่อขนาด 768 ให้ทำอะไร */
@media (max-width: 768px) {
  .blog-contend {
    padding: 20px 30px;
  }
}

/* Section footer */

.semi-footer {
  background: #595959;
  color: #000000;
}
.semi-footer a {
  color: #fff;
}

.semi-footer h4 {
  color: aquamarine;
  border-bottom: 1px solid;
  padding: 20px 0;
}
.footer {
  background: #000;
  color: #fff;
  font-size: 0.7rem;
  height: 90px;
  line-height: 90px;
  text-align: center;
}

/* Section Progress bar */
.progress-container {
  width: 100%;
  height: 5px;
  background: rgba(0, 0, 0, 0.5);
}

.progress-bar {
  height: 5px;
  background: #5f4ad3;
  width: 0%;
}

#map {
  height: 300px;
  width: 100%;
}

/* Section Navbar */
#navbar {
  padding: 25px;
  width: 0.5s;
}

/* Section Page-title */
.page-title {
  position: relative;
  display: block;
  padding-top: 250px;
  padding-bottom: 100px;
  color: #fff;
}

/* Section timeline */
.timeline {
  list-style: none;
  position: relative;
  padding: 20px 0;
}

.timeline > li {
  position: relative;
  margin-bottom: 40px;
}

.timeline::before {
  content: " ";
  position: absolute;
  width: 2px;
  background: #5f4ad3;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

li > .timeline-badge {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 3px solid #fffc31;
  left: 50%;
  margin-left: -9px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 0 5px #fff;
  top: 15px;
}

li > .timeline-badge::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 20px;
  width: 25px;
  height: 2px;
  background: #e6e6e6;
}

li.inverted > .timeline-badge::before {
  right: -32px;
}

li > .timeline-badge p {
  width: 200px;
  margin-top: -9px;
  margin-left: 25px;
  font-size: 18px;
  font-weight: bold;
}

li.inverted > .timeline-badge p {
  float: right;
  text-align: right;
  margin-right: 25px;
}

li > .timeline-card {
  position: relative;
  width: 46%;
  float: left;
  text-align: right;
  padding: 0 10px;
}

li.inverted > .timeline-card {
  float: right;
  text-align: left;
}

.timeline > li::after {
  content: "";
  clear: both;
  display: block;
}

.timeline-arrow {
  width: 100%;
  text-align: center;
  bottom: -70px;
  color: #e6e6e6;
}
@media (max-width: 768px) {
  .timeline::before,
  .timeline-badge {
    left: 0 !important;
  }
  .timeline-badge::before {
    right: -32px !important;
  }
  .timeline-badge p,
  li.inverted > .timeline-badge p {
    margin-left: 50px !important;
    text-align: left;
    float: left;
  }

  li > .timeline-card {
    width: 100%;
    text-align: left;
    padding: 37px 0 0 85px;
  }

  .timeline-arrow {
    text-align: left;
    left: 32px;
  }
}

/* Section Star */
/* ☆★ */
.star-rating {
  position: relative;
  font-size: 2em;
  color: gold;
  display: inline-block;
}

.star-current {
  position: absolute;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
}
